{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": -3.1032,
    "longitude": -60.0288,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "LSI",
    "time_zone": "America/Manaus",
    "external_url": "https://example.duckdns.org:8123",
    "internal_url": null,
    "currency": "BRL",
    "country": "BR",
    "language": "pt-BR"
  }
}